.input{}
.input-title{
	display: block;
	margin: 0 0 9px;
	color: #818392;

	&.with-sub{
		margin: 0;
	}
}
.input-tip{
	font-size: 9px;
	line-height: 7px;
	margin: 0 0 7px;
	color: rgba(29, 34, 71, .7);
}
.input-group{}

.input, .input-select{
	position: relative;
	display: block;

	select, input[type="text"]{
		display: block;
		padding: 11px;
		width: 100%; height: 48px;
		border: 1px solid #d1d6f4;
		background: rgba(0, 0, 0, 0);
		border-radius: 4px;
		font-size: 16px;
		outline: none;
		-webkit-appearance: none;
	   -moz-appearance:   none;
	   appearance:        none;

	   &:focus{
	   	border-color: #b9c1f3;
	   }
	}

	&._error{
		input{
			background: #ffd5d7
		}
		&:after{
			content: attr(data-error-text);
			position: absolute;
			top: 100%;
			font-size: 10px;
			line-height: 10px;
			color: #f15459;
		}
	}
}
.input-radio{
	.input-radio-label{
		&:before{
			content: "";
			position: relative;
			top: 2px;
			display: inline-block;
			width: 17px; height: 17px;
			margin: 0 5px 0 0;
			border: 1px solid #d1d6f4;
			border-radius: 50%;
			background: #fff;
		}
	}
	input{
		display: none;
		position: absolute;
		opacity: 0;
		
		&:checked + .input-radio-label{
			&:before{
				box-shadow: inset 0 0 0 3px #fff;
				background: #9da7de;
			}
		}
	}
}
.input-button{
	position: relative;
	width: 100%; height: 45px;
	font-size: 15px;
	line-height: 45px;
	border-radius: 4px;
	background: #5183c3;
	box-shadow: 0 1px 3px 0 rgba(6,66,111,.26);
	color: #fff;
	border: none;

	&._red{
		background: #f15459;
	}

	span{
		display: block;
		position: absolute;
		top: 0; right: 0; left: 0;
		padding: 10px 0 0;
    line-height: 20px;
    text-align: center;
	}
}
