@header-height: 48px;
@white: #fff;

.clearfix(){
	&:after{
		content: "";
    display: table;
    clear: both;
	}
}
.wrapper{
	padding: 0 10px;
}
.header{
	position: relative;
	height: @header-height;
	padding: 14px 0 0;
	background: @white;
	box-shadow: 0 2px 2px rgba(21,31,87,.08);
	z-index: 9;
}
.back-arrow{
	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 30px;
	cursor: pointer;

	&:before{
		content: "";
		position: absolute;
		top: 16px; left: 10px;
		display: block;
		width: 10px; height: 18px;
		background: url("img/arrow_left.svg") no-repeat;
		background-size: contain;
	}
}
.logo{
	display: block;
	width: 38px; height: 20px;
	margin: 0 auto;
	background: url("img/logo.png") no-repeat 0 0;
	background-size: cover;
}
.page{

}
.page-title{
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 15px;
}
.page-text{
	font-size: 12px;
	line-height: 18px;
}
.tabs{
	height: @header-height;
	background: @white;
	border-top: 1px solid #d1d6f4;
	border-bottom: 1px solid #d1d6f4;
	font-size: 16px;
	color: #3274c6;
	padding: 0 30px 0;
	box-shadow: 0 2px 2 0 rgba(21, 31, 87, .08); 
	z-index: 9;
}
.tabs-item{
	position: relative;
	float: left;
	padding: 7px 0 14px;
	margin: 0 32px 0 0;
	
	&:first-of-type{
		margin: 0 63px 0 0;
	}
	&:last-of-type{
		margin: 0;
	}
	&._current{
		font-weight: 700;
		
		&:before, &:after{
			content:'';
			position: absolute;
			left: 50%;
			bottom: -10px;
    	margin: 0 0 0 -5px;
			border: 5px solid rgba(0,0,0,0);
			border-top: 5px solid @white;
			z-index: 9;
		}
		&:before{
			bottom: -11px;
			border-top: 5px solid #d1d6f4;
		}
		span{
			display: inline-block;
			border-bottom: 2px solid;
			line-height: 21px;
		}
	}
}
.form{
	border-radius: 12px 10px 12px 10px;
	background: rgba(255, 255, 255, .56);
	box-shadow: 0 1px 3px 0 rgba(6,66,111,.19)
}
.form-main, .driver-form{
	position: relative;
	left: 1px;
	padding: 14px 22px 13px 19px;
	background: @white;
	box-shadow: 0px 2px 7px  rgba(6, 66, 111, .19);

	.page-text{
		margin: 0 0 15px;
	}
}
.form-submit{
	padding: 25px 22px 23px;
}
.policy-coverage{
  margin: 0 0 33px;

	.input-select{
		margin: 0 0 12px;
	}
}

.vehicles{
	.page-title{
		margin: 0 0 12px;
	}
}
.vehicle{
  margin: 0 0 18px;

  &:last-of-type{
  	margin: 0;
  }
}
.vehicle-name{
	margin: 0 0 5px;
	font-size: 20px;
	line-height: 22px;
}
.vehicle-param{
	margin: 0 0 8px;
}
.vehicle-param-title{
	font-size: 12px;
	line-height: 14px;
	color: #818392;

	&._big{
		font-size: 16px;
		line-height: 22px;
	}
}
.vehicle-param-cost{
	line-height: 18px;
}
.vehicle-param-group{
	
	&:after{
		content: "";
		display: table;
		clear: both;
	}

	.vehicle-param{
		float: left;

		&:first-of-type{
			margin-right: 18px;
		}
	}
}

.footer{
	padding: 24px 30px 0;
}
.links{
	.clearfix();
}
.links-col{
	float: left;
	&:first-of-type{
		margin: 0px 70px 0 0;
	}

	a{ font-size: 12px }
}
.links-title{
	line-height: 9px;
}

.desktop-link{
	text-align: center;
  font-size: 12px;
  padding: 19px 0 20px;
}

.copyright{
	font-size: 7px;

	&:after{
		content:"";
		display: table;
		clear: both;
	}
	.copyright-logo{
		position: relative;
		display: block;
		float: left;
		padding: 0 16px 14px 0;
		line-height: 7px;
		background: url(img/footer_logo.png) no-repeat 0 bottom;
		background-size: 54px 10px;
	}
	.copyright-year{
		float: right;
		line-height: 7px;
    padding: 12px 4px 0 0;
	}
}

.driver{
	.form{
		position: relative;
		padding: 25px 22px 22px 19px;
		background: @white;
		border-radius: 0 0 5px 5px;
		margin: 0 0 2px;
		
		.page-title{
			margin: 0 0 9px;
		}
	}
	.input, .input-select{
		margin: 0 0 12px;
	}
	.driver-birthday{
		margin: 0 0 20px;
	}
	.us-licensed{
		margin: 0 0 36px;
	}
	.gender{
		margin: 0 0 13px;

		.input-title{
			margin: 0 0 4px;
		}
		.input-group{
			padding: 0 0 0 4px;

			.input-radio{
				&:first-of-type{
					margin: 0 43px 0 0;
				}
			}
		}
	}
	.continue-button{
		margin: 0 0 13px;
	}
	.wrong-button{
		.input-title{

		}
		.input-button{
			font-size: 16px;

			span{
				padding: 15px 0 0;
			}
		}
	}
}




