*, *:before, *:after{ box-sizing: inherit }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, select, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q {
  quotes: none;
  &:before, &:after{content: ''; content: none}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{ height: 100% }
html {
  position: relative;
  font: normal 16px/24px 'Open Sans', sans-serif;
  color: #1d2247;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  background: #ebeaea;
}
* {
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-smoothing:         subpixel-antialiased !important;
  -moz-font-smoothing:    subpixel-antialiased !important;
}
a{
  color: #084ea5;
  text-decoration: none;
  transition: color .2s linear;
  cursor: pointer;

  &:link, &:visited, &:focus, &:active{ color: #084ea5 }
  &:hover{ color: #084ea5 }
}

.placeholders(){
  color: #9b9b9b;
  font-family: 'PT Sans', sans-serif;
}
::-webkit-input-placeholder { .placeholders(); }
::-moz-placeholder          { .placeholders(); }/* Firefox 19+ */
:-moz-placeholder           { .placeholders(); }/* Firefox 18- */
:-ms-input-placeholder      { .placeholders(); }